# Ignore node_modules
node_modules/

# Ignore log files
logs/
*.log

# Ignore development-specific files
npm-debug.log
yarn-error.log
.env

# Ignore IDE or editor-specific files
.vscode/
.idea/

# Ignore macOS-specific files
.DS_Store

# Ignore API keys and other secrets (store these as environment variables)
.secrets.env

# Ignore build and deployment directories
dist/
build/

# Ignore database files
*.db

# Ignore production-specific files
.env.prod

# Ignore local configuration files
config.local.js

# Ignore package-lock.json
package-lock.json